<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!--여기 잇는 이 com.블라블라-->
<mapper namespace="com.example.boardPrac2.mapper.BoardMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND">
            <foreach collection="typeArr" item="type" separator="or">
                <if test="type =='T'.toString()">
                    title like '%'|| #{keyword}||'%'
                </if>
                <if test="type =='C'.toString()">
                    content like '%'||#{keyword}||'%'
                </if>
                <if test="type =='W'.toString()">
                    writer like '%'|| #{keyword}||'%'
                </if>

            </foreach>
        </trim>
    </sql>


    <select id="searchTest" resultType="com.example.boardPrac2.dto.BoardDto">
        <![CDATA[
            select * from FILE_BOARD
            where
                  ]]>
<include refid="criteria"></include>
        <![CDATA[
        rownum < 10
        ]]>
    </select>

    <select id="getListWithPaging" resultType="com.example.boardPrac2.dto.BoardDto">
        <![CDATA[
    select * from (
          select /* index_asr(file_board pk_board)   */ rownum rn, b_no, title, WRITER, reg_date
          from FILE_BOARD
          where    ]]>
        <include refid="criteria"></include>
        <![CDATA[       B_NO > 0 and ROWNUM <= (#{pageNum} * #{amount})
      )
    where rn > (#{pageNum}-1) * #{amount}
        ]]>
    </select>
    <select id="getTotalCount" resultType="int">
        select count(b_no) from file_board
        where
        <include refid="criteria"></include>
        b_no > 0
    </select>


    <select id="getFileBoardList" resultType="com.example.boardPrac2.dto.BoardDto">
        SELECT *
        FROM file_board
        ORDER BY b_no

    </select>

    <select id="fileBoardDetail" parameterType="int" resultType="com.example.boardPrac2.dto.BoardDto">
        SELECT *
        FROM file_board
        WHERE b_no = #{b_no}
    </select>

    <insert id="fileBoardInsert" parameterType="com.example.boardPrac2.dto.BoardDto" keyProperty="b_no">
        INSERT INTO file_board (b_no, title, content, writer, reg_date)
        VALUES (AUTO_INCREASE.nextval, #{title}, #{content}, #{writer}, default)

    </insert>

    <update id="fileBoardUpdate" parameterType="com.example.boardPrac2.dto.BoardDto">

        update FILE_BOARD set
        title=<if test="title != null">#{title}</if>,
        content=
        <if test="content != null">#{content}</if>
        where b_no=#{b_no}

    </update>
    <delete id="fileBoardDelete" parameterType="int">
        DELETE
        FROM file_board
        WHERE b_no = #{b_no}
    </delete>

<!--    파일 업로드 -->

    <insert id="fileInsert" parameterType="com.example.boardPrac2.dto.FileVO">
        <selectKey keyProperty="b_no" resultType="int" order="BEFORE">
            SELECT MAX(b_no)
            FROM file_board
        </selectKey>

        insert into files (fno,b_no,fileName,fileOriginName,fileUrl)
        values(files_seq.nextval,#{b_no},#{fileName},#{fileOriginName},#{fileUrl})

    </insert>


<!--    파일 다운로드-->

    <select id="fileDown" parameterType="int" resultType="com.example.boardPrac2.dto.FileVO">
        select *
        from files
        where b_no = #{b_no}


    </select>


</mapper>